

<p>All messages</p>

<% @messages.each do |t| %>
  <li>ClientId:		 <%= t.ClientId %> </li>
  <li>Number: 		 <%= t.PhoneNumber %> </li>
  <li>MessageBody:   <%= t.Body %> </li>
  <li>        </li>
  <!-- <li>State: 		 <%= t.State %> </li> -->
 <!--  <li>Country 		 <%= t.Country %> </li> -->
  
     
<% end %>
