
<!DOCTYPE html>
<html>

  <head>
    <title>New Pal</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    
  

  <%= javascript_include_tag 'jquery', 'application' %>
    

    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    



  	
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to image_tag("Logo-revised.png", alt: "New Pal"),'#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "MAP",    '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div ng-view>
      <div class="container" ng-app="NewpalWeb" ng-controller="AlertCtrl">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
